/* style.css */
body {
  background-color: #f8f9fa;
  font-family: 'Inter', sans-serif;
}

.card {
  border-radius: 12px;
  border: none;
}

h2 {
  font-weight: 600;
}

.table th, .table td {
  vertical-align: middle;
  height: 80px;
}

.table-bordered {
  border: 2px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.text-muted {
  color: #adb5bd;
}
